This is your assignment on conditional statement and looping

**Problem-1**<br>
Write a small program to check a number is divisible by 7 or not

In [3]:
a = input("Enter a number:")
a = int(a)
if(a%7==0):
    print(a,"is divisible by 7")
else:
    print(a,"is not divisible by 7")

Enter a number:14
14 is divisible by 7

**Problem-2**<br>
If a number is divisible by either 5 or 7, then we will call it a 'five-or-seven' number.<br> 
Write down a program to check if a number is 'five-or-seven' number or not.

In [6]:
b = input("Enter a number:")
b = int(b)
if(b%5==0) or (b%7==0):
    print(b,"is a 'fiver-or-seven' number")
else:
    print(b,"is a 'fiver-or-seven' number")

Enter a number:49
49 is a 'fiver-or-seven' number

**Problem-3**<br>
Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria:<br>  
Upto first 100 units Rs. 3 per unit.<br>
Next 100 units Rs. 5 per unit.<br>
Next 300 units Rs. 7 per unit.<br>
Above that, for each unit exceeding 500, Rs. 10 per unit flat.<br>

In [10]:
n_unit = input("Enter the number of units:")
n_unit = int(n_unit)
if(n_unit<0):
    print("Enter correct value")
else:
    if(n_unit<=100):
        print("the electricity bill is",n_unit*3)
    elif(n_unit>100 and n_unit<=200):
        print("the electricity bill is",300+((n_unit-100)*5))
    elif(n_unit>200 and n_unit<=500):
        print("the electricity bill is",300+500+((n_unit-200)*7))
    elif(n_unit>500):
        print("the electricity bill is",300+500+2100+((n_unit-500)*10))

Enter the number of units:500
the electricity bill is 2900

**Problem-4**<br>
Find out sum of square of all the numbers upto 10, starting from 1

In [7]:
sum10 = 0
for i in range(11):
    sum10 = sum10 + i**2
print(sum10)

385

**Problem-5**<br>
Find out sum of square of all the even numbers upto 10, starting from 1

In [11]:
s_even = 0
for i in range(0,11,2):
    s_even = s_even + i**2
print(s_even)

220

**Problem-6**<br>
Check a number is prime or not

In [8]:
num = input("Enter a number to check whether a number is prime or not:")
num = int(num)
t = 0
for i in range(1,num+1):
    if(num%i==0):
        t = t + 1
if(t==2):
    print(num,"is a prime number")
else:
    print(num,"is not a prime number")

Enter a number to check whether a number is prime or not:11
11 is a prime number

**Problem-7**<br>
Print multiplication table upto 10 starting from 1

In [7]:
for number in range(1,11):
    for i in range(1, 11):
        print(number, 'x', i, '=', number*i)
    print('\n')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10


2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20


3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60


7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70


8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80


9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90


10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

**Problem-8**<br>
Print the series of first n fibonacci numbers

In [12]:
n = input("Enter how long you want the series to be:")
n = int(n)  
n1 = 0  
n2 = 1  
count = 0    
print ("The fibonacci sequence of the numbers is:")  
while count < n:  
    print(n1)  
    nth = n1 + n2  
    n1 = n2  
    n2 = nth  
    count = count + 1

Enter how long you want the series to be:8
The fibonacci sequence of the numbers is:
0
1
1
2
3
5
8
13